.TodoItem {
  margin-left:auto;
  margin-right:auto;
  border-radius:1vw;
  box-shadow:1px 2px 5px 1px #76b5ce;
  padding:1rem;
  display:flex;
  align-items:center;
  box-sizing: border-box;
}

.TodoItem + .TodoItem {
  margin-top:3vw;
}

.content {
  cursor: pointer;
  flex:1;
  display: flex;
  align-items: center;
}

.content svg {
  font-size: 1.5rem;
  color:#76b5ce;
}

.content .text {
  margin-left: 0.5rem;
  flex:1;
}

.content.checked .text {
  color: #999;
  text-decoration: line-through;
  cursor: pointer;
  opacity:0.6;
}

@media only screen and (min-width: 500px) {
  .TodoItem {
    width: 90%;

  }
  .TodoItem + .TodoItem {
    margin-top:15px;
  }
}